@import './Index.less';

.about {
    text-align: center;

    // The title of the about page.
    h1 {
        .header-font();
        margin-bottom: 0px;
    }

    // The background image with the bubbles.
    .bubble-background-image {
        position: relative;
        margin: 0px;
        padding: 0px;
    }

    // The information section, which is the main part of the website.
    .information {
        position: relative;
        top: -5px;
        z-index: 1;
        margin: 0px;
        padding: 0px;
        background-color: #E8898A;
    }
}
