@import './Index.less';

.about {
    text-align: center;

    // The page contents are all contained inside of this
    // collection view so that they can be appropriately stacked.
    #about-items {
        width: 100%;
        margin: 0px;
        padding: 0px;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;

        // By nature of the collection view, make sure everything
        // takes up the entire width of the list.
        * { width: 100%; }

        // The title of the page.
        h1 {
            .header-font();
            margin-top: 0px;
            margin-bottom: 0px;
        }

        // The background bubbles.
        .bubble-background-image {
            margin: 0px;
            padding: 0px;
            object-fit: cover;
        }

        // The main information section of the page.
        .information {
            padding-left: 25%;
            padding-right: 25%;
            background-color: #E8898A;

            // The section titles.
            h2 {
                .common-font();
                font-size: 30px;
                line-height: 1.33;
                font-weight: bolder;
            }

            // The descriptions.
            p {
                font-size: 16px;
                line-height: 24px;
                font-style: normal;
                font-weight: normal;
                margin-bottom: 80px;
                font-family: Poppins;
            }

            // The section about event organizers.
            .about-organizers {
                position: relative;
                width: 100%;
                text-align: center;
                background-color: lightseagreen;
            }
        } // End of ".information"
    } // End of "#about-items"
} // End of ".about"
