@import './Index.less';

.faq {
    text-align: center;

    // The title of the page.
    h1 {
        .header-font();
        font-size: 90px;
        margin-bottom: 0px;

        br {
            position: relative;
            margin: 0px;
            padding: 0px;
        }
    }

    // The background image with the bubbles.
    .bubble-background-image {
        margin: 0px;
        padding: 0px;
    }

    // The information section, which is the main part of the website.
    .information {
        margin: 0px;
        padding: 0px;
        background-color: #5ECED1;
    }
}