@import './Index.less';

.faq {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    // background-color: lightcoral;

    // The page contents are all contained inside of this
    // collection view so that they can be appropriately stacked.
    #faq-items {
        width: 100%;
        margin: 0px;
        padding: 0px;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;

        // By nature of the collection view, make sure everything
        // takes up the entire width of the list.
        * { width: 100%; }

        // The title of the page.
        h1 {
            .header-font();
            line-height: 1.25;
        }

        // The background bubbles.
        .bubble-background-image {
            position: relative;
            padding: 0px;
            max-width: 100%;
            object-fit: contain;
        }

        // The main information section of the page.
        .information {
            position: relative;
            top: -2px;
            text-align: left;
            padding-left: 15%;
            padding-right: 15%;
            background-color: @green;

            // The question.
            h2 {
                .common-font();
                font-size: 30px;
                line-height: 1.33;
                font-weight: bolder;
            }

            // The answer.
            p {
                font-size: 16px;
                line-height: 24px;
                font-style: normal;
                font-weight: normal;
                margin-bottom: 80px;
                font-family: Poppins;
            }
        }
    }

}


// Media Queries:
@media not screen and (min-width: 768px) {
    .faq {
        #faq-items {
            // Give the title some more side room.
            h1 {
                font-size: 80px;
                padding-left: 2%;
                padding-right: 2%;
            }

            // Give more side spacing in general.
            .information {
                padding-left: 8%;
                padding-right: 8%;
            }
        }
    }
}