@import './Index.less';

footer {
    position: relative;
    width: 100%;
    margin: 0px;
    height: 90px;
    padding: 0px;
    background-color: white;

    img {
        position: absolute;
        left: 20px;
        width: 89px;
        height: 100%;
    }

    p {
        position: absolute;
        top: 30%;
        left: 50%;
        width: 100%;
        font-size: 14px;
        font-family: 'Noto Sans';
        transform: translateX(-50%) translateY(-50%);
    }

    button {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }
}


// Media Queries:
@media not screen and (min-width: 768px) {
    footer {
        position: relative;
        width: 100%;

        // Make the image smaller so it fits on the page better.
        img {
            position: relative;
            left: 0px;
            width: 70px;
            height: 70px;
            display: block;
            padding-top: 10px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            margin-bottom: 20px;
        }

        // The footer description should align to the right to
        // fit better.
        .footer-text {
            position: relative;
            width: 50%;
            display: block;
            font-size: 14px;
            margin-top: 0px;
            padding-left: 0px;
            text-align: center;
            padding-right: 0px;
            margin-bottom: 20px;
        }

        // Remove the sign up button, it doesn't really need to
        // be there on mobile.
        button {
            display: none;
        }
    }
}