@import './Index.less';

// The offset from the corners.
@offset: 15%;


// The home page with the options to take you to different pages.
.home {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;

    // The image and sign up button in the middle of the home page.
    .signup-holder {
        position: relative;
        top: 45%;
        width: 25%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        height: fit-content;
        transform: translateY(-50%);
    }

    // Every "color-button" on this page should have the same look,
    // and should show a colorful background on hover.
    .color-button {
        position: absolute;
        z-index: 1;
        border: none;
        outline: none;
        color: black;
        cursor: pointer;
        font-size: 28px;
        background: none;
        text-decoration: underline;
        font-family: 'Nanum Pen Script';

        // Hover state should change the text.
        &:hover {
            color: white;
            font-weight: bolder;
        }

        // The first one is in the top left corner.
        &:nth-of-type(1) {
            top: @offset;
            left: @offset;
        }

        // The second one is in the top right corner.
        &:nth-of-type(2) {
            top: @offset;
            right: @offset;
        }

        // The third one is in the bottom left corner.
        &:nth-of-type(3) {
            left: @offset;
            bottom: @offset;
        }

        // The fourth one is in the bottom right corner.
        &:nth-of-type(4) {
            right: @offset;
            bottom: @offset;
        }
    }

    // The bubbles that show up when you hover over an item.
    #home-green-bubble {
        position: absolute;
        left: -80px;
        width: 0px;
        height: 0px;
        bottom: -40vh;
        overflow: hidden;
        object-fit: contain;
        transition-duration: 0.2s;
    }
    #home-red-bubble {
        position: absolute;
        top: -40vh;
        width: 0px;
        height: 0px;
        right: -80px;
        overflow: hidden;
        object-fit: contain;
        transition-duration: 0.2s;
    }
    #home-yellow-bubble {
        position: absolute;
        top: -40vh;
        width: 0px;
        height: 0px;
        left: -80px;
        overflow: hidden;
        object-fit: contain;
        transition-duration: 0.2s;
    }
    #home-blue-bubble {
        position: absolute;
        width: 0px;
        height: 0px;
        right: -80px;
        bottom: -40vh;
        overflow: hidden;
        object-fit: contain;
        transition-duration: 0.2s;
    }
}


// Media Queries:
@media not screen and (min-width: 768px) {
    .home {
        overflow-y: auto;
        margin-left: auto;
        text-align: center;
        margin-right: auto;
        
        // The sign up holder should be bigger to match
        // the size of the page and the sign up button.
        .signup-holder {
            position: relative;
            top: 5%;
            width: 50%;
            margin-bottom: 80px;
            transform: translateY(0%);
        }

        // Don't show the bubbles on mobile.
        #home-blue-bubble, #home-red-bubble,
        #home-yellow-bubble, #home-green-bubble {
            display: none;
            visibility: hidden;
        }

        // The color buttons should not turn white
        // since the bubbles are hidden.
        .color-button {
            position: relative;
            left: 0px;
            right: 0px;
            display: block;
            font-size: 36px;
            user-select: none;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            margin-bottom: 50px;
            
            &:hover {
                color: black;
                font-weight: normal;
            }
            &:active {
                font-weight: bolder;
            }

            * {
                user-select: none;
            }

            &:nth-of-type(1) {
                top: 0px;
                left: 0px;
                right: 0px;
            }
            &:nth-of-type(2) {
                top: 0px;
                left: 0px;
                right: 0px;
            }
            &:nth-of-type(3) {
                top: 0px;
                left: 0px;
                right: 0px;
            }
            &:nth-of-type(4) {
                top: 0px;
                left: 0px;
                right: 0px;
            }
        }
    }
}