@import './Index.less';

// The offset from the corners.
@offset: 15%;


// The home page with the options to take you to different pages.
.home {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;

    // The image and sign up button in the middle of the home page.
    .signup-holder {
        position: absolute;
        top: 45%;
        left: 50%;
        width: 25%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        height: fit-content;
        transform: translate(-50%, -50%);
    }

    // Every "color-button" on this page should have the same look,
    // and should show a colorful background on hover.
    .color-button {
        position: absolute;
        z-index: 1;
        border: none;
        outline: none;
        color: black;
        cursor: pointer;
        font-size: 20px;
        background: none;
        text-decoration: none;

        // Hover state should change the text.
        &:hover {
            color: white;
            font-weight: bolder;
        }

        // The first one is in the top left corner.
        &:nth-child(1) {
            top: @offset;
            left: @offset;
        }

        // The second one is in the top right corner.
        &:nth-child(2) {
            top: @offset;
            right: @offset;
        }

        // The third one is in the bottom left corner.
        &:nth-child(3) {
            left: @offset;
            bottom: @offset;
        }

        // The fourth one is in the bottom right corner.
        &:nth-child(4) {
            right: @offset;
            bottom: @offset;
        }
    }

    // The bubbles that show up when you hover over an item.
    #home-green-bubble {
        position: absolute;
        left: -80px;
        width: 0px;
        height: 0px;
        bottom: -40vh;
        overflow: hidden;
        object-fit: contain;
        transition-duration: 0.2s;
    }
    #home-red-bubble {
        position: absolute;
        top: -40vh;
        width: 0px;
        height: 0px;
        right: -80px;
        overflow: hidden;
        object-fit: contain;
        transition-duration: 0.2s;
    }
    #home-yellow-bubble {
        position: absolute;
        top: -40vh;
        width: 0px;
        height: 0px;
        left: -80px;
        overflow: hidden;
        object-fit: contain;
        transition-duration: 0.2s;
    }
    #home-blue-bubble {
        position: absolute;
        width: 0px;
        height: 0px;
        right: -80px;
        bottom: -40vh;
        overflow: hidden;
        object-fit: contain;
        transition-duration: 0.2s;
    }
}