@import './Index.less';

// The home page with the options to take you to different pages.
html, body, #root, .app{
  height: 100%;
}
.home{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#home-background{
    z-index: -100;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.layout{
  width: 80%;
  display: grid;
  grid-template-columns: 40% 20% 40%;
  grid-template-rows: repeat(4, auto);
  justify-items: center;
}

.color-button{
  border: none;
  font-family: 'Nanum Pen Script', cursive;
  font-size: 36px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 5px 10px;
  max-height: 51px;
  &:hover{
    cursor: pointer;
  }
}
#lastYearButton{
  grid-column-start: 1;
  grid-row-start: 3;
  &:hover, &:focus{
    background-color: #FCC57E;
  }
}
#aboutButton{
  grid-column-start: 3;
  grid-row-start: 1;
  &:hover, &:focus{
    background-color: #EDA1A2;
  }
}
#faqButton{
  grid-column-start: 3;
  grid-row-start: 3;
  &:hover, &:focus{
    background-color: #68D3D2;
  }
}
#thisYearButton{
  grid-column-start: 1;
  grid-row-start: 1;
  &:hover, &:focus{
    background-color: #90CBE4;
  }
}

#scribbleLogo{
  width: 100%;
  height: auto;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

#scribbleDescription{
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  text-align: center;
  grid-column-start: 2;
  grid-row-start: 3;
}

.layout__button--signup{
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
  padding: 8px 20px;
  width: 50%;
  text-align: center;
  &:hover, &:focus {
      background-color: #AB6503;
      cursor: pointer;
  }
}

// Media Queries:
@media not screen and (min-width: 768px) {
    .layout{
      height: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    #scribbleLogo{
      height: 20%;
      width: auto;
    }
    #scribbleDescription{
      font-size: 12px;
    }
}
