// Variables:
@primary: #009ED2;
@red: #F26C72;
@blue: #009ED2;
@yellow: #F99C1C;
@green: #6CCACD;

.common-font {
    font-size: 18px;
    line-height: 21px;
    font-style: normal;
    font-family: Rubik;
    font-weight: normal;
}
.header-font {
    font-size: 110px;
    line-height: 180px;
    font-style: normal;
    font-weight: normal;
    font-family: 'Nanum Pen Script';
}


// Buttons:
.primary-button {
    border: none;
    outline: none;
    padding: 10px;
    .common-font();
    color: white;
    cursor: pointer;
    background: none;
    border-radius: 5px;
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none;
    background-color: @primary;

    // Hover and click states.
    &:hover {
        background-color: darken(@primary, 10%);
    }
    &:active {
        background-color: darken(@primary, 15%);
    }
}

// The button to take you back to the top of the page.
.back-to-top-button {
    position: absolute;
    left: 50%;
    top: -50px;
    width: 80px;
    border: none;
    color: black;
    outline: none;
    display: block;
    cursor: pointer;
    font-size: 14px;
    background: none;
    text-decoration: none;
    transform: translateX(-50%);

    span {
        display: block;
        margin-bottom: 50px;
        font-weight: bolder;
    }
    p {
        margin-top: 0px;
        font-weight: bolder;
    }
}



// The entire app has the loose leaf paper background.
.app {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 100%;
    background-size: 100%;
    background-repeat: repeat-y;
    background-image: url('../images//LooseLeafBackground.svg');
}
html, body {
    margin: 0px;
    padding: 0px;
}


// Media Queries:
@media not screen and (min-width: 768px) {
    // Primary buttons should not have a hover state.
    .primary-button {
        &:hover { background-color: @primary; }
        &:active { background-color: darken(@primary, 10%); }
    }

    // Make sure the back to top button is not squished on mobile.
    .back-to-top-button {
        position: absolute;
        left: 50%;
        top: -90px;
        width: 80px;
        border: none;
        color: black;
        outline: none;
        display: block;
        cursor: pointer;
        font-size: 14px;
        background: none;
        text-decoration: none;
        transform: translateX(-50%);
    
        span {
            display: block;
            margin-bottom: 90px;
            font-weight: bolder;
        }
        p {
            margin-top: 0px;
            font-weight: bolder;
        }
    }
}