@import './Index.less';

.last-year {
    text-align: center;

    // The page contents are all contained inside of this
    // collection view so that they can be appropriately stacked.
    #last-year-items {
        position: relative;
        width: 100%;
        margin: 0px;
        padding: 0px;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;

        // Links should be big and underlined.
        a {
            position: relative;
            .common-font();
            cursor: pointer;
            font-size: 28px;
            transition-duration: 0.15s;
            text-decoration: underline;

            &:hover {
                color: lighten(@yellow, 50%);
            }
        }
        img:nth-last-of-type(1) {
            margin-top: 20px;
        }

        // By nature of the collection view, make sure everything
        // takes up the entire width of the list.
        *:not(div) { width: 100%; }

        // The title of the page.
        h1 {
            position: relative;
            top: 90px;
            .header-font();
            line-height: 1.25;
        }

        // The background bubbles.
        .bubble-background-image {
            position: relative;
            top: -300px;
            margin: 0px;
            padding: 0px;
            max-width: 100%;
            object-fit: contain;
        }

        // The main information section of the page.
        .information {
            position: relative;
            top: -302px;
            padding-left: 15%;
            padding-right: 15%;
            background-color: @blue;

            // The section titles.
            h2 {
                position: relative;
                .common-font();
                font-size: 30px;
                line-height: 1.33;
                font-weight: bolder;

                &:nth-of-type(1) {
                    padding-top: 50px;
                }
            }

            // The descriptions.
            p, section {
                position: relative;
                font-size: 16px;
                line-height: 24px;
                font-style: normal;
                font-weight: normal;
                margin-bottom: 80px;
                font-family: Poppins;
            }
            p {
                margin-bottom: 30px;
            }

            // The workshop list
            & li {
                margin-top: 10px;
                margin-bottom: 10px;
                list-style-type: square;

                b {
                    font-family: Helvetica;
                    font-style: italic;
                    font-weight: bolder;
                }
            }

            // The image previews of the event.
            .image-group {

                .preview-image {
                    margin: 1%;
                    margin-bottom: 30px;
                    box-sizing: content-box;
                    background-color: lightgray;

                    // An image group will contain 5 images, so space them out evenly.
                    &:nth-of-type(1) {
                        width: 48%;
                        display: inline-block;
                    }
                    &:nth-of-type(2) {
                        width: 48%;
                        display: inline-block;
                    }
                    &:nth-of-type(3) {
                        width: 98%;
                        display: block;
                    }
                    &:nth-of-type(4) {
                        width: 48%;
                        display: inline-block;
                    }
                    &:nth-of-type(5) {
                        width: 48%;
                        display: inline-block;
                    }
                }
            }

            img:not(.preview-image) {
                margin-bottom: 50px;
            }

        } // End of ".information"
    } // End of "#last-year-items"
    // The title of the page.
}

// Media Queries:
@media not screen and (min-width: 768px) {
    .last-year {
        #last-year-items {
            // Give the title some more side room.
            h1 {
                font-size: 60px;
                padding-left: 2%;
                padding-right: 2%;
            }

            // Give more side spacing in general.
            .information {
                padding-left: 7%;
                padding-right: 7%;
                margin-top: -100px;

                // Make the images fit better on mobile.
                .preview-image {
                    width: 100%;
                }
            }
        }
    }
}