@import './Index.less';

.main{
  max-width: 100%;
}

.carouselSection{
  padding: 20px;
  margin: 100px 0px;
  border: 1px #333 solid;
  border-radius: 5px;
}

.yearHeader{
  text-align: center;
}

.backgroundColor{
  color: black;
  background-color: #eee;
  padding: 10px 20px;
  border-radius: 5px;
}

h3.backgroundColor{
  display: inline-block;
}

.resizeImage{
  width: 1000px;
  height: auto;
}

.dividerBubble{
  width: 50%;
  margin: 25px 0px;
}

// Media Queries:
@media not screen and (min-width: 768px) {

}
