@import './Index.less';

// The mobile navigation window.
@keyframes slideDown {
    from {
        opacity: 0;
        height: 0px;
    }
    to {
        opacity: 1;
        height: 400px;
    }
}
.mobile-nav {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 3;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: none;
    padding-top: 50px;
    background-color: white;
    animation: slideDown 0.3s sin(360);
    border-bottom: 2px solid lightgray;
    background: url('../images/LooseLeafBackground.svg');

    // The image and sign up button in the middle of the home page.
    .signup-holder {
        position: relative;
        top: 45%;
        width: 25%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        height: fit-content;
        transform: translateY(-50%);
    }

    // The color buttons should not turn white
    // since the bubbles are hidden.
    .color-button {
        position: relative;
        left: 0px;
        right: 0px;
        border: none;
        z-index: 1000;
        outline: none;
        display: block;
        font-size: 36px;
        user-select: none;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-bottom: 50px;
        background-color: transparent;
        
        &:hover {
            color: black;
            font-weight: normal;
        }
        &:active {
            font-weight: bolder;
        }

        * {
            user-select: none;
        }

        &:nth-of-type(1) {
            top: 0px;
            left: 0px;
            right: 0px;
        }
        &:nth-of-type(2) {
            top: 0px;
            left: 0px;
            right: 0px;
        }
        &:nth-of-type(3) {
            top: 0px;
            left: 0px;
            right: 0px;
        }
        &:nth-of-type(4) {
            top: 0px;
            left: 0px;
            right: 0px;
        }
    }
}


// Media Queries:
@media not screen and (min-width: 768px) {
    .mobile-nav {
        overflow-y: auto;
        margin-left: auto;
        text-align: center;
        margin-right: auto;

        // The sign up holder should be bigger to match
        // the size of the page and the sign up button.
        .signup-holder {
            position: absolute;
            top: 10%;
            left: 50%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 80px;
            transform: translate(-50%, 0%) scale(2);

            .primary-button {
                position: relative;
                left: 50%;
                width: 60px;
                padding: 0px;
                font-size: 10px;
                margin-top: 100px;
                border-radius: 4px;
                transform: translateX(-50%);
            }
        }

        // The color buttons should not turn white
        // since the bubbles are hidden.
        .color-button {
            position: relative;
            left: 0px;
            right: 0px;
            display: block;
            font-size: 32px;
            user-select: none;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            margin-bottom: 50px;

            &:nth-of-type(1) {
                margin-top: 250px;
            }
            
            &:hover {
                color: black;
                font-weight: normal;
            }
            &:active {
                font-weight: bolder;
            }

            * {
                user-select: none;
            }

            &:nth-of-type(1) {
                top: 0px;
                left: 0px;
                right: 0px;
            }
            &:nth-of-type(2) {
                top: 0px;
                left: 0px;
                right: 0px;
            }
            &:nth-of-type(3) {
                top: 0px;
                left: 0px;
                right: 0px;
            }
            &:nth-of-type(4) {
                top: 0px;
                left: 0px;
                right: 0px;
            }
        }
    }
}