@import './Index.less';

.organizer-cell {
    

    &:nth-child(1) {
        position: relative;
        background-color: magenta;
    }
    &:nth-child(2) {
        position: relative;
        background-color: aqua;
    }
    &:nth-child(3) {
        position: relative;
        background-color: peru;
    }
}